{{> header}}
<div class="city">
    <div class="city-button">
        <h2>Brooklyn Hip Hop</h2>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <a href="#">Go to the party</a>
    </div>
    <a href="#">Download the Brooklyn guide</a>
</div>
{{> footer}}