{{> header}}
<div id="map"></div>
<ul>
    <li class="music">
        <a href="#">info</a>
        <span>BlockParty</span>
    </li>
    <li class="music">
        <a href="#">info</a>
        <span>BlockParty</span>
    </li>
    <li class="music">
        <a href="#">info</a>
        <span>BlockParty</span>
    </li>
    <li class="music">
        <a href="#">info</a>
        <span>BlockParty</span>
    </li>
</ul>
{{> footer}}